.header {
  background: linear-gradient(to right, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  padding: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: floralwhite;
  padding: 50px;
}

.links {
  display: flex;
  gap: 10px;
}

.link {
  padding: 10px;
  cursor: pointer;
}

.active {
  border-bottom: 1px solid dodgerblue;
}

.link:hover {
  border-bottom: 1px solid deeppink;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 2rem;
}


